/* Types */

@import 'slide-list.css' screen;
@import 'slide-full.css' screen;

/* Content */

@import 'content/basic.css';
@import 'content/code.css';
@import 'content/footer.css';
@import 'content/inline.css';
@import 'content/lists.css';
@import 'content/quote.css';
@import 'content/table.css';

/* Elements */

@import 'elements/columns.css';
@import 'elements/copyright.css';
@import 'elements/cover.css';
@import 'elements/next.css';
@import 'elements/place.css';
@import 'elements/shout.css';

/* Modifiers */

@import 'modifiers/clear.css';
@import 'modifiers/white.css';
@import 'modifiers/black.css';

/* Slide */

.slide {
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 45px 130px 0;
    width: var(--slide-width);
    height: var(--slide-height);
    background-color: #ffffff;
    background: #fff url('/public-lesson/pictures/bg-shapes-small.jpg');
    background-size: cover;
}

/* Blue margin */

.slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: #00aed0;
}

.slide.title {
    background: url('/public-lesson/pictures/cover.jpg') no-repeat;
    background-size: cover;
}

.slide.title h2 {
    color: #fff;
    font-size: 48px;
    text-align: center;
    margin-top: 160px;
}

.slide.title::after {
    content: none;
}

.slide.photo {
    background: url('/public-lesson/pictures/bg-shapres-large.jpg');
    padding: 45px 30px 0;
    background-size: cover;
}

.slide.photo h2 {
    text-align: center;
}

.slide.photo img {
    display: block;
    height: 370px;
    margin: 0 auto;
}

.slide.photo::after {
    content: none;
}

.slide.last-cover {
    background: url('/public-lesson/pictures/last.jpg') no-repeat;
    background-size: cover;
}

.slide.last-cover h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    text-align: center;
    margin-top: 140px;
}
